.Title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 0;
    background: rgb(8, 53, 33);
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
    padding: .5em;
  }

  .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }