.footer-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100;
    padding: 1em;
    align-items: baseline;
    list-style: none;
    background: rgb(8, 53, 33);
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: .5em;
    list-style: none;
}

.footer-list li {
    display: block;
    padding: 0.5em;
}

.footer-list a {
    color: white;
}